*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,100&display=swap');
/*               font-family: 'Bebas Neue', cursive;
                 font-family: 'Montserrat', sans-serif;                      
*/



body{
     background-color: rgba(0, 0, 0, 0.932);
     color: var(--cor2);
     overflow: hidden;
     font-family: 'Montserrat', sans-serif;
}



:root {
    --cor1: orangered;
    --cor2: white;
    --cor3: #2B292B;
}


.sai{
     animation-name: sai;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-duration: 1s;
}

@keyframes sai {
      from{opacity: 1;}
      to{opacity: 0;}
}


.mecher {
      animation-name: mecher;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-direction: normal;
}

@keyframes mecher {
       0%{transform: rotate(0deg);}
       35%{transform: rotate(2deg);}
       70%{transform: rotate(-2deg);}
       100%{transform: rotate(0deg);}
}


.fade{
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes fade {
     0%{opacity: 1;}
     100%{opacity: 0;}
}






/*--------------------- MENU ICONES -----------------*/

#menu{
     position: fixed;
     right: 12px;
     height: 100vh;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#menu #trocarCor{
    color: var(--cor1);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
}

#menu span{
     margin: 7px;
     width: 50px;
     height: 50px;
     border-radius: 35px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:  var(--cor3);
     color: var(--cor2);
     cursor: pointer;
}

#menu span:hover{
    background-color:  var(--cor1);
    transition: all 500ms;
}

/*COR DA ABA SELECIONADA*/
#menu #home{
    background-color:  var(--cor1);
}






/*---------------- HOME -----------------*/

#conteudoHome{
      width: 90%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
}


#imgHome{
     width: 35%;
     height: 100%;
     position: relative;
}

#imgHome div{
    width: 200px;
    height: 100%;
    background-color: var(--cor1);
    position: absolute;
}

#imgHome img{
    width: 80%;
    margin: 15px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.434);
}






#txtHome{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
}

#txtHome div{
    width: 90%;
}

#txtHome div h1{
       font-size: 45px;
       margin: 2px 10px 10px 10px;
}

#txtHome div h1 #nome{
    color: var(--cor1);
}

#txtHome div #descri{
       font-size: 20px;
       margin: 10px;
}

#txtHome div button{
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 15px;
    color: var(--cor2);
    background-color: var(--cor1);
    border: 1px solid transparent;
    margin: 10px;
    cursor: pointer;
}

#txtHome div button:hover{
    background-color: transparent;
    border: 1px solid var(--cor1);
    color: var(--cor1);
    transition: all 500ms;
}






/*---------------- PROJETOS -----------------*/

#conteudoProjetos{
        width: 90%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
}

#conteudoProjetos #p1{
       width: 55%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: start;
       flex-direction: column;
       padding: 50px;
}

#conteudoProjetos #p1 h1{
    color: var(--cor1);
    margin-bottom: 10px;
}

#conteudoProjetos #p1 p{
    width: 60%;
}









#conteudoProjetos #p2{
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#conteudoProjetos #p2 #area1, #area3{
     width: 100%;
     margin: 10px;
}

#conteudoProjetos #p2 #area1 h1, #area3 h1{
        color: var(--cor1);
        font-size: 70px;
}

#conteudoProjetos #p2 #area1 h1:hover, #area3 h1:hover{
    color: var(--cor3);
    transform: scale(1.1);
    transition: all 400ms;
    cursor: pointer;
}




#conteudoProjetos #p2 #area2, #area4{
    width: 100%;
    margin: 10px;
    text-align: center;
}

#conteudoProjetos #p2 #area2 h1, #area4 h1{
    color: var(--cor1);
    font-size: 70px;
}

#conteudoProjetos #p2 #area2 h1:hover, #area4 h1:hover{
    color: var(--cor3);
    transform: scale(1.1);
    transition: all 400ms;
    cursor: pointer;
}



#titleMobile{
        display: none;
}




/*---------------- CONTATO -----------------*/

#conteudoContato{
  width: 100%;
  height: 100vh;
  display: none;
}

#conteudoContato h1{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: var(--cor2);
    position: absolute;
    top: 25px;
    z-index: 4;
}

#conteudoContato h1 span{
    color: var(--cor1);
}

#conteudoContato h2{
    width: 1000px;
    text-align: center;
    font-size: 65px;
    color: var(--cor3);
    position: absolute;
    top: 10px;
    z-index: 3;
}


#contatosPai{
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
}


#linksUteis{
       width: 45%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

#linksUteis h3{
    color: var(--cor1);
    font-size: 30px;
    margin-bottom: 3px;
}

#linksUteis h6{
    color: var(--cor2);
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

#linksUteis div p{
    margin: 10px;
}

#linksUteis div i{
    color: var(--cor1);
    font-size: 25px;
    margin: 5px;
}

#linksUteis div i:hover{
    color: var(--cor3);
    transition: all 400ms;
}

#linksUteis a{
    text-decoration: none;
}








#formContato{
      width: 55%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

form input {
       border: 1px solid transparent;
       border-radius: 10px;
       padding: 7px;
       width: 60%;
       margin: 5px;
       background-color: var(--cor3);
       color: var(--cor1);
}

form textarea {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100px;
    padding: 7px;
    width: 60%;
    margin: 5px;
    background-color: var(--cor3);
    color: var(--cor1);
}

form #btnForm{
      color: white;
      background-color: var(--cor1);
      padding: 3px 8px;
      width: 20%;
      cursor: pointer;
}

form #btnForm:hover{
    color: var(--cor1);
    border: 1px solid var(--cor1);
    background-color: transparent;
    transition: all 500ms;
}


#contatoMobile{
    display: none;
}







/*----------------------- PROJETOS IMAGENS -------------------*/

.back{
    position: fixed;
    top: 25px;
    left: 30px;
    font-size: 30px;
    color: var(--cor2);
    cursor: pointer;
}

.back:hover{
    color: var(--cor1);
}



#fotos01{
        height: 100vh;
        padding: 50px;
        text-align: center;
        display: none;
}

#fotos01 h1{
     color: var(--cor1);
     margin-bottom: 20px;
}

#fotos01 div{
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 450px;
    overflow: auto;
}

#fotos01 p img{
    width: 230px;
    margin: 10px;
    transition: all 1s;
    border-radius: 5px;
}

#fotos01 p img:hover{
    cursor: pointer;
    width: 250px;
    transition: all 1s;
}













#fotos02{
    height: 100vh;
    padding: 50px;
    text-align: center;
    display: none;
}

#fotos02 h1{
    color: var(--cor1);
    margin-bottom: 20px;
}

#fotos02 div{
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 450px;
    overflow: auto;
}


#fotos02  img{
    width: 480px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
}

#fotos02  img:hover{
    width: 500px;
    cursor: pointer;
    transition: all 1s;
}









#fotos03{
    height: 100vh;
    padding: 50px;
    text-align: center;
    display: none;
}

#fotos03 h1{
    color: var(--cor1);
    margin-bottom: 10px;
}

#fotos03 div{
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 450px;
    overflow: auto;
}

#fotos03 p img{
    width: 230px;
    margin: 10px;
    transition: all 1s;
    border-radius: 5px;
}

#fotos03 p img:hover{
    cursor: pointer;
    width: 250px;
    transition: all 1s;
}










#fotos04{
    height: 100vh;
    padding: 50px;
    text-align: center;
    display: none;
}

#fotos04 h1{
    color: var(--cor1);
    margin-bottom: 10px;
}

#fotos04 div{
   padding: 20px;
   text-align: center;
}


#fotos04 div{
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 450px;
    overflow: auto;
}

#fotos04 p img{
    width: 230px;
    margin: 10px;
    transition: all 1s;
    border-radius: 5px;
}

#fotos04 p img:hover{
    cursor: pointer;
    width: 240px;
    transition: all 1s;
}
